.card {
  display: flex;
  flex-direction: column;
  background: white;
  margin: 10px;
}

.content {
  padding: 20px;
  padding-bottom: 65px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.img {
  max-width: 100%;
  flex-shrink: 0;
}

.text {
  font-family: "FiraCode";
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}

.link {
  padding-top: 20px;
  margin-top: auto;
  color: #f00658;
  justify-self: flex-end;
}
