@import "../assets/styles/Variables.scss";

.card {
  display: flex;
  flex-direction: column;
  background: white;
  margin: 10px;
  @media (max-width: $tablet) {
    margin-left: 0;
    margin-right: 0;
  }
}

.content {
  padding: 20px;
  padding-bottom: 65px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.img {
  max-width: 100%;
  flex-shrink: 0;
}

.text {
  font-family: "FiraCode";
  margin-top: 20px;
  margin-bottom: 80px;
  font-size: 16px;
}

.link {
  padding-top: 20px;
  margin-top: auto;
  color: $red;
  justify-self: flex-end;
}
