.text {
  font-weight: 600;
  font-size: 56px;
  line-height: 86px;
  font-family: "Overpass";
}

.sectionIntro {
  font-family: "FiraCode";
  font-size: 16px;
}

.paddingTop {
  padding-top: 90px;
}
