@import "../assets/styles/Variables.scss";

.container {
  padding-top: 90px;
}
.title {
  text-align: center;
}
.subtitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 118px;
}

.projectImg {
  width: 100%;
  margin-bottom: -5px;
}

.twoColumn {
  display: flex;
  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.column {
  width: 50%;
  @media (max-width: $tablet) {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-direction: row;
  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.list {
  @media (max-width: $tablet) {
    margin-top: 30px;
  }
}

.paddingTop {
  padding-top: 40px;
  @media (max-width: $tablet) {
    padding-top: 20px;
  }
}

.centered {
  margin: 0 auto;
  align-items: center;
}

.column45 {
  width: 45%;
}
.column55 {
  width: 55%;
}

.column,
.column45,
.column55 {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  @media (min-width: $tablet) {
    &:first-child {
      padding-right: 40px;
    }
    &:last-child {
      padding-left: 40px;
    }
  }

  @media (max-width: $tablet) {
    width: 100%;
    &:last-child {
      padding-top: 40px;
    }
  }
}

.imageText {
  font-family: "Overpass";
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  margin-top: auto;
}

.videoContainer {
  max-width: 300px;
  border-radius: 40px;
  overflow: hidden;
  padding: 0;
  video {
    margin-bottom: -5px;
  }
}

.flow {
  background-color: $lightblue;
}

.flowImageGrid {
  display: flex;
  @media (max-width: $tablet) {
    flex-wrap: wrap;
  }
}

.flowImageContainer {
  padding: 40px 20px;
  width: 25%;
  color: black;
  img {
    width: 100%;
  }
  &:last-child {
    padding-right: 40px;
  }
  &:first-child {
    padding-left: 40px;
  }

  @media (max-width: $tablet) {
    width: calc(50% - 40px);
    &:last-child {
      padding-right: 20px;
    }
    &:first-child {
      padding-left: 20px;
    }
  }

  @media (max-width: $mobile) {
    width: calc(100%);
    &:last-child {
      padding-right: 20px;
    }
    &:first-child {
      padding-left: 20px;
    }
  }
}

.usabilityGrid {
  display: flex;
  flex-direction: row;
  margin-top: 90px;
  img {
    padding-right: 20px;
    width: calc(100% - 20px);
  }
  img:last-child {
    padding-right: 0;
  }

  @media (max-width: $tablet) {
    margin-top: 45px;
    flex-direction: column;
    img {
      margin-top: 40px;
      padding-right: 20px;
      width: 100%;
    }
  }
}

.contact {
  width: 50%;
  float: right;
  border-left: 3px solid $red;
  padding: 10px 0 10px 18px;
  margin-left: auto;
  margin-top: 70px;
  font-weight: bold;
}
