@import "./assets/styles/Variables.scss";

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
  color: $red;
}
a:hover,
a:active {
  font-weight: 600;
}

body {
  font-family: "FiraCode";
  color: #141414;
}
::selection {
  color: white;
  background: $red;
}

::-moz-selection {
  color: white;
  background: $red;
}

@font-face {
  font-family: "Overpass";
  src: local("Overpass"),
    url(./assets/fonts/Overpass/Overpass-semibold.woff) format("woff"),
    url(./assets/fonts/Overpass/Overpass-semibold.woff2) format("woff2");
}

@font-face {
  font-family: "FiraCode";
  src: local("FiraCode"),
    url(./assets/fonts/FiraCode/FiraCode-Light.woff) format("woff"),
    url(./assets/fonts/FiraCode/FiraCode-Light.woff2) format("woff2");
}

h1 {
  font-family: "Overpass";
  font-weight: 600;
  font-size: 56px;
  line-height: 86px;
  margin: 0;
  @media (max-width: $tablet) {
    font-size: 42px;
    line-height: 60px;
  }
}

h2 {
  font-family: "Overpass";
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
}

h3 {
  font-family: "Overpass";
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  margin: 0;
}

h4 {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
}
p {
  margin-block-start: 2em;
  margin-block-end: 2em;
}
