@import "../Global.scss";

.blockContainer {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.innerContainer {
  max-width: 1034px;
  margin: 0 auto;
}

.grayBackground {
  background-color: $gray;
}

.blackBackground {
  background-color: $black;
  color: white;
}

.blueBackground {
  background-color: $blue;
}

.greenBackground {
  background-color: $green;
}

.verticalPadding {
  padding-top: 130px;
  padding-bottom: 130px;
  @media (max-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.bottomPadding {
  padding-bottom: 130px;
  @media (max-width: $tablet) {
    padding-bottom: 60px;
  }
}

.topPadding {
  padding-top: 130px;
  @media (max-width: $tablet) {
    padding-top: 60px;
  }
}

.staticTopPadding {
  padding-top: 130px;
}
