.blockContainer {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.innerContainer {
  max-width: 1034px;
  margin: 0 auto;
}

.grayBackground {
  background-color: #f5f5f5;
}

.blackBackground {
  background-color: #2e2e2e;
  color: white;
}

.blueBackground {
  background-color: #ddeefe;
}

.verticalPadding {
  padding-top: 130px;
  padding-bottom: 130px;
}

.bottomPadding {
  padding-bottom: 130px;
}

.topPadding {
  padding-top: 130px;
}

.greenBackground {
  background-color: #d9f6f1;
}
