@import "../Global.scss";

.container {
  position: fixed;
  top: 0;
  height: 70px;
  left: 0;
  right: 0;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 200;
}

.innerContainer {
  max-width: 1034px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.transparentBackground {
  background-color: transparent;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.whiteBackground {
  background-color: white;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.menu {
  display: flex;
  font-family: "FiraCode";
  font-size: 16px;
}
.menu a {
  margin-left: 70px;
  color: $red;
}

li:first-child {
  margin-left: 0;
}

a.title {
  font-family: "Overpass";
  font-size: 26px;
  color: black;
}
a.title:visited {
  color: black;
}

.burgerIcon {
  cursor: pointer;
  text-align: center;
  width: 30px;
  // &:hover {
  //   line {
  //     stroke-width: 3;
  //   }
  // }
}

.overMenu {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  background-color: $lightgray;
  position: fixed;
  right: 23px;
  top: 62px;
  width: 160px;
  border-radius: 8px;
  a {
    padding-bottom: 20px;
    margin-left: 0;
  }
  a:last-child {
    padding-bottom: 10px;
  }
}

.overMenu::before {
  content: "";
  position: relative;
  width: 0;
  height: 0;
  top: -30px;
  right: -158px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f8fcff;
  clear: both;
}
